*.pyd
*.swp
*.pyc
*.so
*.exe
*.DS_Store
build/*
menpo.egg-info/*
.idea/*
# Ignore IPython notebook autosave files
.ipynb_checkpoints
*.log
# Ignore Sphinx docs
docs/_build/*
# Ignore nfs file mount temp files
.nfs*

